{
    box-sizing: border-box;
}


li {
    text-align: center;

}
/*@media screen and (max-width: 768px) {*/

body #headline {
    background-image: url('/files/background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 960px;
    width: 100%;
}
.responsive {
    width: 100%;
    height: auto;
}
/*@media only screen and (max-width: 600px) {*/
    /*body #headline {*/
        /*background-image: url('/files/mobile.jpeg');*/
        /*background-position: center;*/
        /*background-repeat: no-repeat;*/
        /*background-size: cover;*/
        /*height: 960px;*/
        /*width: 100%;*/
    /*}*/
/*}*/
.nav1{
    opacity:0.5;
}
.brick {
    opacity: 1;
    color:#000;
}
.nav1 li {
    z-index:100;
    display: inline-block;
    font-size:15px;
    width: 100%;
    padding: 16px;
    margin-bottom: 8px;
    margin-right: 8px;
    background-color: #e7e7e7;
    vertical-align: top;
}
.tab-content.is-animating {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    width: auto;
}

.content-pane {
    z-index:100;
    box-sizing: border-box;
    position: absolute;
    background-color: #e7e7e7;
    display: inline-block;
    font-size:15px;
    top: 0;
    left: 0;
    right: 0;
    width: 800px;
    height:40px;
    margin: 0;
    opacity: 0.5 !important;
    vertical-align: top;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.row{
    width: 100%;
}
.content-pane.is-active {
    position: relative;
    opacity: 1;
    color:#000;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
.content-pane.is-exiting {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.content-pane.is-animating {
    -webkit-transition: opacity 400ms ease-out, -webkit-transform 400ms ease-out;
    transition: opacity 400ms ease-out, -webkit-transform 400ms ease-out;
    transition: opacity 400ms ease-out, transform 400ms ease-out;
    transition: opacity 400ms ease-out, transform 400ms ease-out, -webkit-transform 800ms ease-out;
}
.nav1{
    position: absolute;
    width: 250px;
}
#headline {
    color: white;
    padding-top: 25%;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .aboutSection {
        text-align: center;
        height: 270px;
        margin: auto;
        width: 50%;
    }
}
@media only screen and (min-width: 768px) {
    .aboutSection {
        text-align: center;
        height: 150px;
        margin: auto;
        width: 100%;
    }

}
.container{
 width: 20%;
    margin: auto;
}


